{% extends 'teams/base.html' %}
{% load static %}

{% block title %}
   Total Wins
{% endblock %}

{% block content %}
  {% if not player %}
  <div class="center">
    <form action="{% url 'weeklyTotals' %}" method="get">
        <select name="player" id="player">
        <option value='Tiara'>Tiara</option>
        <option value='Mom'>Mom</option>
        <option value='Mr C'>Mr C</option>
        <option value='Stefaun'>Stefaun</option>
        </select>
        <select name="year" id ='year'>
        <option value=2025>2025</option>
        </select>
        <select name="week" id="week">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>
            <option value=10>10</option>
            <option value=11>11</option>
            <option value=12>12</option>
            <option value=13>13</option>
            <option value=14>14</option>
            <option value=15>15</option>
            <option value=16>16</option>
            <option value=17>17</option>
            <option value=18>18</option>
            <option value=19>19</option>
        </select>
    <button type="submit">Submit</button>
  </form>
  {% else %}
  </div>

    <div>
      <table style="margin-right: auto; margin-left: auto; ">
        <thead>
          <tr>
            <tr>
            <th>Player</th>
            <th>Year</th>
            <th>Week</th>
            <th>Wins</th>
            <th>Total wins in the Season.</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>{{ player }}</td>
              <td>{{ year }}</td>
              <td>{{ week }}</td>
              <td>{{ total }}</td>
              <td>{{ total_wins }}</td>
            </tr>



        </tbody>
      </table>
    </div>
  {% endif %}

{% endblock %}